/* Charte graphique : définition des couleurs */
:root {
    --color-A: #bbbeff;
    --color-B: #a7bfff;
    --color-C: #97afff;
    --color-dark: #404099;
    --opacity: rgba(255, 255, 255, 0.8);

}

* {
        box-sizing: border-box;
    }


/*
html{
    display: flex;
    justify-content: center;
}*/


/*
============
    BODY
============
*/


body {
    /* Geometry */
    display: grid;
    grid-template-areas: "header header header"
                         "nav    nav    nav   "
                         ".      main   .     ";
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
    margin:0;

    /* Style */
    background-color: var(--color-B);
    background-size: 5px 5px;
    background-image: repeating-linear-gradient(45deg, var(--color-A) 0,
                                                   var(--color-A) 1px,
                                                   var(--color-B) 0,
                                                   var(--color-B) 50%);
}


/*
============
    HEADER
============
*/

header {
    grid-area: header;
    margin: 0;
    padding: 0;
    width:100%;
}

h1 {
    /* Geometry */
    background-color: var(--opacity);
    text-align: center;
    padding: 10px;
    margin: 2rem 0 0;
    /* Borders */
    border-width: 1px 0px 2px 0px;
    border-style: solid none solid;
    border-color:var(--color-dark);
    /* Style */
    color: var(--color-dark);
}



/*
============
    NAV
============
*/


nav {
    grid-area: nav;
    position: sticky;
    top: 0px;
    margin:0 0 4rem;
    padding:0;
    z-index: 100;
}

nav ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 ;
    padding: 0;
}

nav li {
    /* Geometry */
    display: inline-flex;
    align-items: center;
    margin: 0;
    height: 2em;
    padding: 5px 20px;
    /* Style */
    background-color: var(--color-C);
}

nav li:hover {
    background-color: var(--couleur-menu-selection);
}

nav li:first-child {
    background-color: var(--color-dark);
    border-radius: 0 0 0 1rem;
}

nav li:first-child:hover {
    background-color: var(--couleur-menu-selection-retour);
}


nav li:last-child {
    border-radius: 0 0 1rem 0;
}

nav li a,
navl li a:visited {
    color: white;
    text-decoration: none;
    font-variant-caps: small-caps;
    flex: 1;
}

/*
============
    MAIN
============
*/

main {
    /* Geometry */
    grid-area: main;
    margin:0;
    padding: 0;
    /* Borders */
    border-radius: 0 1rem 0 0;
    border:dotted;
    border-width:0 0 0 6px;
    border-color:var(--color-dark) ;
    clip-path: polygon(3px 0, 3px 100%, 100% 100%, 100% 0);
    /* Style */
    background-color:var(--opacity);
    /*max-width: calc(100%-40px);
    max-width:1000px;
    min-width: 80%;*/
    /*border:solid var(--color-B);*/
}

main :first-child {
    margin-top: 3rem;
}

main :last-child {
    margin-bottom: 4rem;
}

main p {
    margin: 1.5rem 4.5rem;
}

main a,
main a:visited {
    /* Geometry */
    margin:5px 0;
    padding:5px 15px;
    /* Borders */
    border-radius: 4px;
    /* Style */
    color:white;
    text-decoration: none;
    font-size: large;
    background-color:var(--color-dark);
}

main a:hover,
main a:visited:hover {
    background-color: var(--color-C);
}

main a:hover::before {
    background-image: none;
}

main a[href$=".pdf"] {
    background-image: url(../pic/icon_pdf.svg);
}