<!doctype html>
<html lang="fr">

<head>
    <title>Course title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles/default.css">
    <link rel="stylesheet" href="styles/print.css" media='print'>
    <script src="scripts/sommaire.js"></script>
    <script src="scripts/highlight/highlight.pack.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</head>

<body>
    <h1>Course title</h1>

        <nav id='index_menu'>
        <ol>
            <li><a href="#chapter1">Chapter 1 -- Chapter name</a></li>
            <li><a href="#chapter2">Chapter 2 -- Chapter name</a></li>
        </ol>
    </nav>

    <section>
        <h2 id="chapter1">Chapter 1 -- Chapter name</h2>
        <p>Presentation</p>
        <ol>
            <li>First item (link, file) with optional comment.</li>
            <li>Second item (link, file) with optional comment.</li>
        </ol>
    </section>  
    
      <section id="chapter2">
        <h2>Chapter 2 -- Chapter name</h2>
        <p>Presentation</p>
        <ol>
            <li>First item (link, file) with optional comment.</li>
            <li>Second item (link, file) with optional comment.</li>
        </ol>
    </section>    
</body>

</html>
